.c-sports-balance-bet-slip {
  background-color: #1a0040; // there is no purple-100
  bottom: -48px;
  transition: bottom 500ms ease-out 300ms;
}

.c-sports-balance-bet-slip--maximized {
  transition: bottom 100ms ease-out 0ms;
}
