$separator: map-get($cudl-spacer-sizes, default);
$reel-race-tile-widths: ();
@each $breakpoint, $value in $tile-widths {
  $reel-race-tile-widths: map-merge(
    $reel-race-tile-widths,
    (
      $breakpoint: calc(#{$value * 2} + #{$separator}),
    )
  );
}

.c-reel-race-card {
  @include cudl-breakpoint-with($reel-race-tile-widths, width);
  max-width: 348px;
}

.c-reel-race__separator {
  align-self: stretch;
  background-color: rgba(cudl-palette(white), 0.15);
  width: 1px;
}

.c-reel-race__badge {
  left: map-get($cudl-spacer-sizes, default);
  position: absolute;
  top: map-get($cudl-spacer-sizes, default);
}

.c-reel-race__button-icon {
  margin: -(map-get($cudl-spacer-sizes, sm));
}
