$separator: map-get($cudl-spacer-sizes, default);

.c-reel-race-card {
  width: 328px;
}

.c-reel-race__separator {
  align-self: stretch;
  background-color: rgba(cudl-palette(white, "base"), 0.15);
  width: 1px;
}

.c-reel-race__badge {
  left: map-get($cudl-spacer-sizes, default);
  position: absolute;
  top: map-get($cudl-spacer-sizes, default);
}

.c-reel-race__button-icon {
  margin: -(map-get($cudl-spacer-sizes, sm));
}
