.c-game-tile {
  background-color: cudl-palette(chrome, light-1);
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.c-game-tile__overlay--default {
  background-color: rgba(cudl-palette(plum), 0.9);
}

.c-game-tile__overlay--active:active {
  background-color: rgba(cudl-palette(chrome, "dark-1"), 0.3);
}

.c-game-tile__overlay--maintenance {
  background-color: rgba(cudl-palette(chrome, "dark-1"), 0.9);
}

.c-game-tile__jackpot-ticker {
  white-space: nowrap;
  width: 100%;
}

.c-game-tile__heart {
  fill: transparent;
  stroke: cudl-palette(white);
}

.c-game-tile__heart--is-active {
  fill: cudl-palette(white);
  stroke: transparent;
}
