.c-campaign-top-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 200px) and (max-width: 478px) {
  .c-campaign-top-card-content {
    padding: 16px;
  }
}
