.c-sports-nav-tab {
  border-bottom: 2px solid transparent;
  height: 106px;
}

.c-sports-nav-tab--selected {
  border-color: cudl-palette(green);
}

.c-sports-live-tab {
  position: relative;
}

.c-sports-live-tab__badge {
  font-size: 14px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  z-index: 420;
}
