.c-sports-nav-live-tab,
.c-sports-nav-sport-tab {
  border-bottom: 2px solid transparent;
  height: 106px;
}

.c-sports-nav-sport-tab--selected {
  border-color: cudl-palette(plum);
}

// stylelint-disable-next-line xi/selector-pattern
.c-sports-nav-paginated--live .c-sports-nav-sport-tab--selected {
  border-color: cudl-palette(negative);
}

.c-sports-nav-live-tab__wrapper {
  border-right: 4px solid cudl-palette(white);
}

// stylelint-disable-next-line xi/selector-pattern
.c-sports-nav-paginated--live .c-sports-nav-live-tab__wrapper {
  border-right: transparent;
}

.c-sports-nav-live-tab__badge {
  right: 0;
  top: 0;
  z-index: 1;
}
