$heart-animation-duration: 350;
.c-game-tile-container__heart {
  &--stroke {
    opacity: 1;
    stroke: currentColor;
    stroke-width: 2;
    transition: opacity #{$heart-animation-duration}ms ease-in;
  }
  &--fill {
    fill: currentColor;
    visibility: hidden;
  }

  /* stylelint-disable xi/selector-pattern */
  &.is-active {
    animation: heart-is-active #{$heart-animation-duration}ms
      cubic-bezier(0.17, 0.89, 0.32, 1.49) both;
    will-change: transform;

    .c-game-tile-container__heart--stroke {
      opacity: 0;
    }

    .c-game-tile-container__heart--fill {
      visibility: visible;
    }
  }
}

@keyframes heart-is-active {
  0%,
  17.5% {
    transform: scale(0);
  }
}
/* stylelint-enable xi/selector-pattern */

/* stylelint-disable */
:export {
  heartAnimationDuration: $heart-animation-duration;
}
/* stylelint-enable */
