.c-reel-race-icon {
  background-clip: padding-box;

  &__content {
    &--old {
      animation: rrIconOld 0.9s normal forwards ease-out;
    }
    &--next {
      animation: rrIconNew 0.9s normal forwards ease-out;
    }
    &--off {
      transform: translateY(48px);
    }
  }
}

// stylelint-disable xi/selector-pattern
@keyframes rrIconOld {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-48px);
  }
}

@keyframes rrIconNew {
  0% {
    transform: translateY(48px);
  }
  100% {
    transform: translateY(0);
  }
}
// stylelint-enable xi/selector-pattern
