// stylelint-disable xi/selector-pattern
.c-nav-chip-container {
  position: relative;
  transform: translateY(0);
  transition: transform ease 0.3s;
  &:hover {
    transform: translateY(-5px);
  }
}
// stylelint-enable xi/selector-pattern
