// stylelint-disable xi/selector-pattern
.c-nav-chip-container {
  position: relative;
  top: 0 !important;
  transition: top ease 0.3s;
  &:hover {
    top: -5px !important;
  }
}
// stylelint-enable xi/selector-pattern
