{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3"
      }
    ],
    "react-app"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "alias": {
          "Api": "./src/api",
          "Clients": "./src/serviceClients",
          "Components": "./src/components",
          "Containers": "./src/containers",
          "Features": "./src/features",
          "Lib": "./src/lib",
          "Models": "./src/models",
          "Services": "./src/applicationService",
          "Src": "./src",
          "Storybook": "./.storybook",
          "Types": "./src/types",
          "Utils": "./src/utils",
          "GameProviders": "./src/gameProviders"
        }
      }
    ]
  ]
}
