"@casumo:registry" "http://npm.casumotest.local/"

# this flag is true by default and should be disable with v2
# with that integrity caches are present in yarn.lock
unsafe-disable-integrity-migration "false"
