/* stylelint-disable xi/selector-pattern */
.c-reel-races-drawer {
  background: radial-gradient(
    ellipse 120% 90% at 50% 90%,
    rgba(26, 33, 44, 0.96) 50%,
    rgba(26, 33, 44, 1) 50%
  );
  z-index: 9;

  &__laurel {
    height: 80px;
    left: 0;
    margin-left: 50%;
    margin-top: 50%;
    top: 2px;
    transform: translateX(-50%) translateY(-68%);
    width: 100px;
  }

  &__elem {
    flex-basis: 0;
  }
}

/* Todo to remove WIDTH property after wire up so real progress would fill up bar */
.c-highlighted-progress-bar {
  height: 4px;
  width: 5px;
}
