$game-list-height: (
  mobile: calc(100vh - 147px),
  phablet: calc(100vh - 172px),
);

$game-list--playok-height: (
  mobile: calc(100vh - 187px),
  phablet: calc(100vh - 210px),
);

.c-game-search {
  // fix iOS Safari issue with list results not displaying
  // https://github.com/Casumo/Home/issues/27760
  transform: translate3d(0, 0, 0);
}

.c-game-search-bar {
  z-index: cudl-z("content-overlay");
}

.c-game-search-virtual-list {
  @include cudl-breakpoint-with($game-list-height, height);
  @include cudl-breakpoint(phablet orientation landscape) {
    height: calc(100vh - 136px);
  }
}

// stylelint-disable xi/selector-pattern
.play-okay-bar-visible .c-game-search-virtual-list {
  @include cudl-breakpoint-with($game-list--playok-height, height);
}

.c-game-search-virtual-list .c-virtual-list {
  padding-top: 8px;
}
