$search-bar: 72px;

$game-search-widths: (
  mobile: 100%,
  tablet: 490px,
  desktop: 798px,
);

.c-game-search {
  // fix iOS Safari issue with list results not displaying
  // https://github.com/Casumo/Home/issues/27760
  transform: translate3d(0, 0, 0);
}

.u-game-search-max-width {
  @include cudl-breakpoint-with($game-search-widths, width);
  margin: 0 auto;
}

.c-game-search-bar {
  z-index: cudl-z("content-overlay");
}
