@mixin valuable-reward-theme($rewardColor, $fontColor) {
  .c-valuable-reward {
    color: $rewardColor;
  }
  .c-valuable-reward__content {
    color: $fontColor;
  }
}

.c-valuable-card {
  height: 204px;
  max-width: 170px;
  width: 170px;
}

.c-valuable-card__content {
  height: 80px;
}

.c-valuable-card--cash {
  @include valuable-reward-theme(cudl-palette(yellow), cudl-palette(brown));
}

.c-valuable-card--deposit {
  @include valuable-reward-theme(
    cudl-palette(blue, light-1),
    cudl-palette(grey, dark-2)
  );
}

// stylelint-disable xi/selector-pattern
.c-valuable-card--spins {
  &.basic,
  &.bonus {
    @include valuable-reward-theme(
      cudl-palette(grey, light-1),
      cudl-palette(grey, dark-2)
    );
  }

  &.mega,
  &.super {
    @include valuable-reward-theme(
      cudl-palette(grey, dark-3),
      cudl-palette(yellow)
    );
  }
}

.c-valuable-card--sport {
  @include valuable-reward-theme(
    cudl-palette(green, light-1),
    cudl-palette(grey, dark-2)
  );
}
