.c-account-warm-up__time-remaining {
  position: relative;
}

.c-account-warm-up__time-remaining-title {
  margin-left: -50px;
}

.c-account-warm-up__days-left {
  bottom: -12px;
  position: absolute;
}
