.c-sports-nav-tab {
  border-bottom: 4px solid transparent;
  height: 124px;
}

.c-sports-nav-tab--selected {
  border-color: cudl-palette(green);
}

.c-sports-nav-tab__icon {
  max-height: 48px;
  max-width: 48px;
}
