@import "cudl-border-radius";

$card-details-width: 160px;
$shadow-width: 130px;

.c-valuable-details {
  margin-top: auto;

  @include cudl-breakpoint(phablet) {
    height: 600px;
    margin-top: -240px;
  }

  &__footer {
    background-color: rgba(cudl-palette(white, "base"), 0.9);
  }

  &__separator {
    border-style: solid;
    width: 100px;
  }

  &-modal {
    width: 666px;

    @include cudl-breakpoint(phablet) {
      max-height: 670px;
      max-width: 666px;
    }
  }

  &__valuable-card {
    width: $card-details-width;
    z-index: 1;

    &::after {
      background: #303838;
      border-radius: 16px;
      content: " ";
      filter: blur(10px);
      height: 200px;
      left: calc((#{$card-details-width} - #{$shadow-width}) / 2);
      opacity: 0.15;
      position: absolute;
      top: 14px;
      width: $shadow-width;
      z-index: -1;
    }
  }

  &__valuable-card-wrapper {
    @include cudl-breakpoint(phablet) {
      height: 590px;
    }

    @include cudl-breakpoint(tablet) {
      height: 590px;
    }
  }
}
