.c-valuable-details__footer {
  bottom: 16px;
  position: sticky;
}

.c-valuable-details-modal {
  height: 100%;
  width: 100%;

  @include cudl-breakpoint(phablet) {
    max-height: 670px;
    max-width: 420px;
  }
}
