.c-gamepage-header-sumoticon-spacer {
  width: 80px;
}
.c-game-page-header__sumoticon-container {
  max-height: 48px;

  @include cudl-breakpoint(desktop) {
    background-color: transparent !important;
  }
}
