.c-rr-booster--wins-in-a-row {
  &__arc {
    transition: color 0.5s;
  }

  &__points {
    transition: color 0.5s;

    &--tripled {
      transition-delay: 0.5s;
    }
  }

  &__circle {
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.5s;

    &--tripled {
      transform: scale(1);
      transition-delay: 1.5s;
    }
  }
}
