@import "cudl-breakpoints";
@import "~Styles/settings.breakpoints";

//prettier-ignore
$curated-card-ratios: (
  mobile: (
    352/343
  ) * 100%,
  phablet: (
    264/496
  ) * 100%,
  tablet: (
    264/686
  ) * 100%,
);

.c-curated-card {
  // TODO: check all this with the designers. We should be adhering to CUDL!
  line-height: 1;
  max-height: 352px;

  @include cudl-breakpoint(phablet) {
    max-height: 264px;
  }
}

.o-ratio--curated-card::before {
  @include cudl-breakpoint-with($curated-card-ratios, padding-bottom);
}
