@import "cudl-breakpoints";
@import "~Styles/settings.breakpoints";

$curated-twerkpoints: (
  map-merge(
    $cudl-breakpoints,
    (
      desktoplg: 1920px,
    )
  )
);

// There is a link between those values and curatedCardOptions 'w' and 'h' in CuratedCardBackground.js
// Ratio here needs to be reflected in `w`/`h` imgixOpts params
//prettier-ignore
$curated-card-ratios: (
  mobile: 100%,
  phablet: (
    264/496
  ) * 100%,
  tablet: (
    254/545
  ) * 100%,
  desktop: (
    432/1181
  ) * 100%,
  desktoplg: (
    616/1661
  ) * 100%
);

.c-curated-card {
  margin-left: auto;
  margin-right: auto;
  max-height: 616px;
  max-width: 1920px;
}

// stylelint-disable-next-line
.o-ratio--curated-card.o-ratio--curated-card::before {
  @include cudl-breakpoint-with(
    $curated-card-ratios,
    padding-bottom,
    $curated-twerkpoints
  );
}

/* stylelint-disable */
:export {
  desktop: cudl-strip-unit(map-get($curated-twerkpoints, desktop));
  desktopLg: cudl-strip-unit(map-get($curated-twerkpoints, desktoplg));
  mobile: cudl-strip-unit(map-get($curated-twerkpoints, mobile));
  phablet: cudl-strip-unit(map-get($curated-twerkpoints, phablet));
  tablet: cudl-strip-unit(map-get($curated-twerkpoints, tablet));
}
/* stylelint-enable */
