.c-sumo-icon {
  background-clip: padding-box;
  box-sizing: content-box;
  left: map-get($cudl-spacer-sizes, md);
  top: map-get($cudl-spacer-sizes, sm);

  @include cudl-breakpoint(desktop) {
    left: auto;
    top: auto;
  }

  &__close-drawer {
    background-color: cudl-palette(grey, "70");
    left: 0;
    top: 0;

    @include cudl-breakpoint(desktop) {
      background-color: cudl-palette(grey, "90");
      left: auto;
      top: 0;
    }
    &--hidden {
      animation: menuClosedChevronAnimation 0.3s normal forwards ease-in;
    }

    &--visible {
      animation: menuOpenChevronAnimation 0.3s normal forwards ease-out;
    }
  }

  &__content {
    left: 0;
    top: 0;

    &--old {
      animation: sumoIconoOld 0.9s normal forwards ease-out;
    }
    &--next {
      animation: sumoIconNew 0.9s normal forwards ease-out;
    }
  }

  &__chevron-icon {
    bottom: 0;
    right: 0;

    &--hidden {
      animation: menuClosedChevronAnimation 0.3s normal forwards ease-in;
    }

    &--visible {
      animation: menuOpenChevronAnimation 0.3s normal forwards ease-out;
    }
  }
}

// stylelint-disable xi/selector-pattern
@keyframes menuOpenChevronAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes menuClosedChevronAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes sumoIconoOld {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -48px;
  }
}

@keyframes sumoIconNew {
  0% {
    margin-top: 48px;
  }
  100% {
    margin-top: 0;
  }
}
// stylelint-enable xi/selector-pattern
