/* stylelint-disable */
$animation_duration: 3000;

:export {
  animation_duration: $animation_duration;
}

.c-sumo-icon-confetti {
  &__anim {
    position: relative;
    z-index: cudl-z(main-nav);
  }

  &__blur {
    animation-duration: $animation_duration + ms;
    animation-iteration-count: infinite;
    animation-name: blurUp;
    background-color: #3f3752;
    border-radius: 50%;
    box-shadow: none;
    left: 16px;
    position: absolute;
    top: 4px;
    z-index: cudl-z(main-nav);
  }

  &__victory {
    animation-iteration-count: infinite;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0, 0);
  }

  &__victory-1 {
    animation-delay: 0ms;
    animation-duration: $animation_duration + ms;
    animation-name: levelUp;
  }

  &__victory-2 {
    animation-delay: 60ms;
    animation-duration: $animation_duration + ms;
    animation-name: levelUp;
  }

  &__victory-3 {
    animation-delay: 150ms;
    animation-duration: $animation_duration + ms;
    animation-name: levelUp;
  }
}

@keyframes blurUp {
  /* 300ms passed */
  10% {
    box-shadow: 0px 0px 6px 6px rgba(52, 229, 235, 0.7);
  }

  /* 300ms left */
  90% {
    box-shadow: 0px 0px 6px 6px rgba(52, 229, 235, 0.7);
  }

  100% {
    box-shadow: none;
  }
}

@keyframes levelUp {
  5% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  /* 300ms passed */
  10% {
    transform: scale(1, 1);
  }

  /* 300ms left */
  90% {
    opacity: 1;
    transform: scale(1, 1);
  }

  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}
