/* stylelint-disable */
.c-reel-race-icon__boost-points {
  height: 16px;
  opacity: 0;
  right: -50px;
  top: -19px;
  transform: scale(0.75) skew(12deg, -12deg) translate(-100%, 64%);
  width: 64px;

  &--animating {
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: reel-race-icon-reveal-points;
    animation-timing-function: ease-out;
  }
}

.c-reel-race-icon__boost-points__value {
  color: cudl-palette(black);

  &:first-child {
    font-size: 15px;
  }

  &:nth-child(2) {
    font-size: cudl-font-size(sm, $cudl-font-sizes);
  }

  &:last-child {
    color: cudl-palette(yellow, "30");
    font-size: cudl-font-size(xs, $cudl-font-sizes);
  }
}

@keyframes reel-race-icon-reveal-points {
  6%,
  85% {
    opacity: 1;
    transform: scale(1) skew(5deg, -5deg) translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(1) skew(5deg, -5deg) translate(0, -100%);
  }
}
