.c-profile-icon {
  background-clip: padding-box;
  top: 0;

  &__avatar {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__chevron-icon {
    bottom: -4px;
    right: -4px;
  }

  &__progress {
    left: 0;
    margin-top: -50%;
    top: 0;

    &--animating {
      animation: profile-icon-progress 2s ease;
    }
  }

  &__info {
    margin: 0 auto;
    margin-top: 50%;
    transform: translateY(-50%);
  }
}

/* stylelint-disable xi/selector-pattern */
@keyframes profile-icon-progress {
  0% {
    stroke: currentColor;
  }
  30% {
    stroke: cudl-palette(teal, "50");
  }
  70% {
    stroke: cudl-palette(teal, "50");
  }
  100% {
    stroke: currentColor;
  }
}
/* stylelint-enable xi/selector-pattern */
