@import "cudl-compile";
// prevent colors package from compiling
@include cudl-prevent-compile(cudl-sass-colors);
@import "cudl-colors";
// remove compile block incase needed later
@include cudl-reset-compile(cudl-sass-colors);

.c-game-tile {
  background-color: cudl-palette(grey, light-2);
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.c-game-tile__overlay {
  align-items: center;
  background-color: rgba(cudl-palette(teal), 0.9);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.c-game-tile__overlay--maintenance {
  background-color: rgba(cudl-palette(grey, "dark-1"), 0.9);
}

//stylelint-disable-next-line xi/selector-pattern
.c-game-tile:focus .c-game-tile__overlay {
  display: flex;
}

//stylelint-disable-next-line xi/selector-pattern
.c-game-tile:focus .c-jackpot-ticker {
  display: none;
}

.c-jackpot-ticker {
  width: 100%;
}
