@import "cudl-compile";
@import "cudl-breakpoints";
@include cudl-prevent-compile(cudl-sass-spacers);
@import "cudl-spacers";
@include cudl-reset-compile(cudl-sass-spacers);

$game-tile-widths: (
  mobile: 43%,
  phablet: 26%,
  tablet: 26%,
  desktop: 15%,
);

.c-scrollable-game {
  @include cudl-breakpoint-with($game-tile-widths, width);
  max-width: 170px;

  //stylelint-disable-next-line xi/selector-pattern
  &:not(:first-child) {
    margin-left: $cudl-spacer-size-default;
  }
}

.c-scrollable-list-title {
  text-transform: capitalize;
}
