@import "cudl-compile";
@include cudl-prevent-compile(cudl-sass-border-radius);
@import "cudl-border-radius";
@include cudl-reset-compile(cudl-sass-border-radius);

$cudl-border-radii: map-merge(
  (
    xs: 2px,
  ),
  $cudl-border-radii
);

.t-border-width--md {
  border-style: solid;
  border-width: 2px;
}
