$cudl-ratios: (
  "game-tile": (
    padding-bottom: 120/100,
  ),
  "game-tile-exclusive": (
    padding-bottom: 280/188,
  ),
  "live-casino-card": (
    padding-bottom: 180/320,
  ),
);
//prettier-ignore
$curated-ratios: (
  mobile: (
    352/343
  ) * 100%,
  phablet: (
    264/496
  ) * 100%,
  tablet: (
    264/686
  ) * 100%,
);
