$cudl-ratios: (
  "game-tile": (
    padding-bottom: 120/100,
  ),
  "game-tile-exclusive": (
    padding-bottom: 280/188,
  ),
  "live-casino-card": (
    padding-bottom: 180/320,
  ),
  "promotion-card": (
    padding-bottom: 308/256,
  ),
  "promotion-card-image": (
    padding-bottom: 140/240,
  ),
  "reel-race-card": (
    padding-bottom: 220/330,
  ),
  "valuable-card": (
    padding-bottom: 205/160,
  ),
  "valuable-card-header": (
    padding-bottom: 80/144,
  ),
  "valuable-card-header-sm": (
    padding-bottom: 64/48,
  ),
  "valuable-card-coin": (
    padding-bottom: 1/1,
  ),
  "valuable-details": (
    padding-bottom: 334/375,
  ),
);
