$cudl-breakpoints: (
  mobile: 0,
  phablet: 480px,
  tablet: 500px,
  desktop: 900px,
);

/* stylelint-disable */
:export {
  desktop: map-get($cudl-breakpoints, desktop);
  mobile: map-get($cudl-breakpoints, mobile);
  phablet: map-get($cudl-breakpoints, phablet);
  tablet: map-get($cudl-breakpoints, tablet);
}
/* stylelint-enable */
