.u-content-width--tablet {
  margin: auto;

  @include cudl-breakpoint(tablet) {
    width: 408px;
  }

  @include cudl-breakpoint(desktop) {
    width: auto;
  }
}

.u-height--screen {
  height: 100vh;
}
