// stylelint-disable xi/selector-pattern
.text-brown-30 {
  color: rgba(185, 110, 0, var(--cudl-color-opacity));
}

.bg-brown-30 {
  background-color: rgba(185, 110, 0, var(--cudl-background-opacity));
}

.bg-purple-100 {
  background-color: rgba(20, 0, 64, var(--cudl-background-opacity));
}

.text-yellow-90 {
  color: rgba(132, 98, 0, var(--cudl-color-opacity));
}

.bg-grey-80 {
  background-color: rgba(36, 44, 56, var(--cudl-color-opacity));
}
// stylelint-enable xi/selector-pattern
