.u-position-absolute {
  position: absolute;
}

.u-position-relative {
  position: relative;
}

.u-position-sticky--top {
  position: sticky;
  top: 0;
}

.u-position-sticky--bottom {
  bottom: 0;
  position: sticky;
}
