.u-position-absolute {
  position: absolute;
}

.u-position-relative {
  position: relative;
}

.u-position-sticky--top {
  position: sticky;
}

.u-position-fixed {
  position: fixed;
}

.u-position-fixed\@mobile {
  @include cudl-breakpoint(mobile phablet) {
    position: fixed;
  }
}

.u-position-fixed\@phablet {
  @include cudl-breakpoint(phablet tablet) {
    position: fixed;
  }
}

.u-position-sticky--bottom {
  bottom: 0;
  position: sticky;
}

.u-left-shell-offset {
  left: var(--shell-offset-left, 0);
}
