.t-color-brown-30 {
  color: rgba(185, 110, 0, var(--cudl-color-opacity));
}

.t-background-brown-30 {
  background-color: rgba(185, 110, 0, var(--cudl-background-opacity));
}

.t-color-yellow-90 {
  color: rgba(132, 98, 0, var(--cudl-color-opacity));
}
