.u-font-variant-numeric--tabular-nums {
  font-variant-numeric: tabular-nums;
}

// Below needed for "font-variant-numeric: tabular-nums" to work it seems
.u-font-family--noncustom {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.u-text-clamp {
  /* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* stylelint-enable value-no-vendor-prefix, property-no-vendor-prefix */
}
