$top-game-tile-widths: (
  mobile: 43%,
  phablet: 26%,
  tablet: 26%,
  desktop: 15%,
);

$exclusive-game-tile-widths: (
  mobile: 48%,
  phablet: 31%,
  tablet: 31%,
  desktop: 20%,
);

.c-tile {
  @include cudl-breakpoint-with($top-game-tile-widths, width);
  max-width: 160px;
}

.c-top-game {
  @include cudl-breakpoint-with($top-game-tile-widths, width);
  max-width: 170px;
}

.c-exclusive-game {
  @include cudl-breakpoint-with($exclusive-game-tile-widths, width);
  max-width: 188px;
}

.c-live-casino-card {
  max-width: 320px;
  width: 86%;
}
