$casumo-avatar-widths: (
  mobile: 80px,
  phablet: 96px,
  desktop: 96px,
);

.c-adventure-card__avatar {
  @include cudl-breakpoint-with($casumo-avatar-widths, width);
}

.c-adventure-card__no-progress-bar {
  padding-bottom: 0px !important;
}
