.c-sports-icon {
  width: map-get($cudl-spacer-sizes, 2xlg);
}

// stylelint-disable-next-line xi/selector-pattern
.c-sports-nav-paginated--live .c-sports-icon__active-indicator {
  color: cudl-palette(red, "30");
}

// stylelint-disable-next-line xi/selector-pattern
.c-sports-icon__active-indicator {
  color: cudl-palette(teal, "50");
}
