.c-sports-icon {
  width: map-get($cudl-spacer-sizes, 3xlg);
}

// stylelint-disable-next-line xi/selector-pattern
.c-sports-nav-paginated--live .c-sports-icon__active-indicator {
  color: cudl-palette(red, light-1);
}

// stylelint-disable-next-line xi/selector-pattern
.c-sports-icon__active-indicator {
  color: cudl-palette(turquoise);
}
