// c-modal was already taken 🙈
.c-rsmodal {
  transform: scale(0.8);
  transition: transform 150ms ease;

  @include cudl-breakpoint(mobile) {
    height: 100vh;
    margin: 0;
    width: 100vw;
  }
  @include cudl-breakpoint(phablet) {
    height: auto;
    margin: 10vh auto;
    min-height: 40vh;
    width: 50vw;
  }
  @include cudl-breakpoint(desktop) {
    height: auto;
    margin: 20vh auto;
    min-height: 40vh;
    width: 30vw;
  }
}

.c-rsmodal__overlay {
  background-color: rgba(cudl-palette(white), 0.75);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: var(--play-okay-bar-height, 40px); // to show Play Okay bar on mobile
  transition: opacity 150ms ease;
  z-index: $modal-z-index; // above the menu and chat

  @include cudl-breakpoint(phablet) {
    top: 0;
  }
}

.c-rsmodal__content {
  overflow-y: auto;
  padding: 20px 24px;

  // stylelint-disable xi/selector-pattern
  // ^-- for compatibility with cms data
  ol {
    padding-left: 15px;
  }

  li {
    padding: 3px 0;
  }

  .ol-numbers {
    list-style-type: decimal;
  }

  .ol-alphabet {
    list-style-type: lower-alpha;
  }
  // stylelint-enable xi/selector-pattern
}

// stylelint-disable xi/selector-pattern
// for transition animations: http://reactcommunity.org/react-modal/styles/transitions.html
.ReactModal__Overlay {
  &--after-open.c-rsmodal__overlay {
    opacity: 1;
  }
  &--before-close.c-rsmodal__overlay {
    opacity: 0;
  }
}
.ReactModal__Content {
  &--after-open.c-rsmodal {
    transform: scale(1);
  }
  &--before-close.c-rsmodal {
    transform: scale(0.8);
  }
}
// stylelint-enable xi/selector-pattern
