.c-sports-modal__header {
  height: var(--top-bar-height, 75px);

  @include cudl-breakpoint(tablet) {
    background: none;
    color: cudl-palette(grey, dark-3);
    font-size: cudl-font-size(md, $cudl-font-sizes);
    height: auto;
  }
}

$button-size: $cudl-spacer-size-default * 5;
$button-size-mobile: $cudl-spacer-size-default * 6;

.c-sports-modal__dismiss-button {
  align-items: center;
  display: flex;
  height: $button-size-mobile;
  justify-content: center;
  width: $button-size-mobile;

  @include cudl-breakpoint(tablet) {
    height: $button-size;
    width: $button-size;
  }
}

.c-sports-modal__dismiss-button--back {
  @include cudl-breakpoint(tablet) {
    background: cudl-palette(grey, light-2);
    color: cudl-palette(grey, dark-3);
  }
}

.c-sports-modal__dismiss-button--floating {
  border-radius: 3px;
  position: fixed;
  right: 15px;
  top: calc(var(--top-bar-offset-top, 0px) + 15px);
}
