.c-sports-modal {
  @include cudl-breakpoint(tablet) {
    border-radius: 3px;
    bottom: 10vh;
    display: flex;
    left: auto;
    max-width: 600px;
    min-height: 300px;
    padding: map-get($cudl-spacer-sizes, lg) map-get($cudl-spacer-sizes, 3xlg);
    right: auto;
    top: 10vh;
    width: calc(100vw - var(--shell-offset-left, 0vw) - 20vw);
  }
}

.c-sports-modal__content {
  overflow-x: hidden;
  overflow-y: scroll;
}

.c-sports-modal__content-inner {
  margin: 0 auto;
}
