.c-sports-modal-header {
  height: var(--top-bar-height, 75px);

  @include cudl-breakpoint(tablet) {
    font-size: cudl-font-size(md, $cudl-font-sizes);
    height: auto;
  }
}

// stylelint-disable xi/selector-pattern
.c-sports-modal-header--left-align {
  @include cudl-breakpoint(max tablet) {
    .c-sports-modal-header__button--back {
      display: none;
    }

    .c-sports-modal-header__heading {
      padding-left: map-get($cudl-spacer-sizes, md);
      text-align: left;
    }
  }
}

.c-sports-modal-header__heading {
  @include cudl-breakpoint(tablet) {
    padding: map-get($cudl-spacer-sizes, lg);
  }
}
// stylelint-enable xi/selector-pattern

$button-size: map-get($cudl-spacer-sizes, "3xlg");

.c-sports-modal-header__fixed-button {
  border-radius: 3px;
  height: $button-size;
  position: fixed;
  right: 15px;
  top: calc(var(--top-bar-offset-top, 0px) + 15px);
  width: $button-size;
}
