@import "cudl-breakpoints";
@import "~Styles/settings.breakpoints";

//prettier-ignore
$promotion-image-ratios: (
  mobile: (
    179/377
  ) * 100%,
  phablet: (
    188/546
  ) * 100%
);

// stylelint-disable-next-line
.o-ratio--promotion-header-image.o-ratio--promotion-header-image::before {
  @include cudl-breakpoint-with($promotion-image-ratios, padding-bottom);
}

.c-promotion-header-badge {
  height: 75%;
  max-height: 135px;
}

@include cudl-breakpoint(tablet) {
  .c-promotion-header-image {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-top: map-get($cudl-spacer-sizes, lg);
    overflow: hidden;
  }
}
