// stylelint-disable xi/selector-pattern
@import "cudl-compile";
@include cudl-prevent-compile(cudl-sass-colors);
@import "cudl-colors";
@include cudl-reset-compile(cudl-sass-colors);
@include cudl-prevent-compile(cudl-sass-typography);
@import "cudl-typography";
@include cudl-reset-compile(cudl-sass-typography);
@include cudl-prevent-compile(cudl-sass-spacers);
@import "cudl-spacers";
@include cudl-reset-compile(cudl-sass-spacers);

.s-content-html {
  font-size: cudl-font-size(default, $cudl-font-sizes);
  line-height: 1.5;

  p {
    margin-bottom: 1rem;
  }
}

.s-content-html ul {
  list-style: disc;
  margin-bottom: 1rem;
  margin-left: map-get($cudl-spacer-sizes, md);

  li {
    margin-bottom: 1rem;
  }

  p {
    display: inline;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.s-content-html--terms {
  color: cudl-palette(grey, dark-1);
  font-size: cudl-font-size(sm, $cudl-font-sizes);
}
