// stylelint-disable xi/selector-pattern
.s-content-html {
  font-size: cudl-font-size(default, $cudl-font-sizes);
  line-height: 1.5;

  p {
    margin-bottom: 1rem;
  }
}

.s-content-html ul {
  list-style: disc;
  margin-bottom: 1rem;
  margin-left: map-get($cudl-spacer-sizes, md);

  li {
    margin-bottom: 1rem;
  }

  p {
    display: inline;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.s-content-html--terms {
  color: cudl-palette(grey, "50");
  font-size: cudl-font-size(sm, $cudl-font-sizes);
}
