.c-promotion-card {
  text-decoration: none;
  width: 256px;
}

.c-promotion-card__img {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.c-promotion-card__content {
  line-height: 1.2;
}
