.c-message-page {
  margin: $cudl-spacer-size-default * 5;

  @media screen and (min-width: map-get($cudl-breakpoints, tablet)) {
    margin: $cudl-spacer-size-default * 10;
  }
}

.c-message-page__heading {
  @media screen and (min-width: map-get($cudl-breakpoints, tablet)) {
    font-size: cudl-font-size(2xlg, $cudl-font-sizes);
  }
}
