@import "~Styles/_settings.zindex";

.c-modal {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $modal-z-index;
}

.c-modal__content {
  overflow-y: scroll;
}
