@import "~Styles/settings.zindex";

.c-modal {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: var(--play-okay-bar-height);
  z-index: $modal-z-index;
}

.c-modal__top-bar {
  height: var(--top-bar-height);

  @media (orientation: landscape) {
    height: var(--top-bar-height--landscape);
  }
}

.c-modal__dismiss-button {
  height: 48px;
  width: 48px;
}

.c-modal__content {
  overflow-y: scroll;
}
