.c-account-page {
  display: grid;

  grid-template-areas:
    "header-wallet"
    "recent-transactions"
    "recent-bets"
    "header-settings"
    "personal-info"
    "notification-settings"
    "header-playokay"
    "play-okay-info"
    "active-limits";

  @include cudl-breakpoint(desktop) {
    column-gap: 16px;
    grid-template-areas:
      "header-wallet header-wallet header-wallet header-wallet header-wallet header-wallet"
      "recent-transactions recent-transactions recent-transactions recent-bets recent-bets recent-bets"
      "header-settings header-settings header-settings header-settings header-settings header-settings"
      "personal-info personal-info personal-info notification-settings notification-settings notification-settings"
      "header-playokay header-playokay header-playokay header-playokay header-playokay header-playokay"
      "play-okay-info play-okay-info active-limits active-limits active-limits active-limits";
    grid-template-columns: repeat(6, 1fr);
  }
}
