.c-edit-pills-button {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 32px;
  justify-content: center;
  transform: rotateZ(45deg);
  width: 32px;
}

.c-sports-nav__edit {
  border-left: 2px solid cudl-palette(white);
}
