.c-sports-jackpots {
  @media (min-width: 768px) {
    height: 300px;
  }

  &-gradient {
    @media (min-width: 768px) {
      height: 208px;
    }
  }

  &-footer {
    @media (min-width: 768px) {
      height: 68px;
    }
  }
}
