.c-single-limit__hovered {
  opacity: 0;

  &:hover {
    background: rgba(cudl-palette(plum), 0.9);
    opacity: 1;
  }
}

.c-single-limit__more-icon {
  right: map-get($cudl-spacer-sizes, 2xlg) * -1;
  top: 0;
}
