.c-card-data {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}

.c-card-data__badge::after {
  color: cudl-palette(white, "base");
  content: ".";
  font-size: 20px;
  margin-top: 11px;
  position: absolute;
}
.c-card-data__badge--small::after {
  margin-top: 4px;
}

.c-card-data__badges-background {
  background-color: rgba(cudl-palette(black, "base"), 0.75);
  height: 40px;

  &--small {
    height: 24px;
  }
}

.c-card-data__badges-mask {
  background: linear-gradient(270deg, rgba(#000, 1) 0%, rgba(#000, 0) 30%);
}
