// stylelint-disable xi/selector-pattern
.c-live-casino-card-maintenance {
  &::after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    filter: grayscale(1);
  }

  &__play-button {
    cursor: not-allowed !important;
    &:hover {
      background-color: rgba(cudl-palette(grey, "5"), 1) !important;
    }
  }

  &__notification {
    line-height: 40px; // Height of grayscale bar in maintenance mode live tile
  }
}
// stylelint-enable xi/selector-pattern
