@import "cudl-compile";
@include cudl-prevent-compile(cudl-sass-colors);
@import "cudl-colors";
@include cudl-reset-compile(cudl-sass-colors);
@import "cudl-typography";

.c-card {
  background-color: #fff;
  position: relative;
  width: 320px;

  &__top {
    height: 200px;
  }

  &__img {
    border-radius: 8px;
    min-width: 100%;
    position: absolute;
  }

  &__body {
    display: flex;
  }

  &__info {
    flex: 1;
    min-width: 0;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__footer {
    border-top: 1px solid lighten(cudl-palette(grey), 25%);
  }

  &__players {
    flex-grow: 1;
  }

  &__players-number {
    padding-right: 4px;
    position: relative;
    top: 1px;
  }
}
