@import "cudl-compile";
@include cudl-prevent-compile(cudl-sass-colors);
@import "cudl-colors";
@include cudl-reset-compile(cudl-sass-colors);

.c-card-data {
  align-items: flex-end;
  display: flex;
  flex: 1;

  &__results {
    flex: 1;
  }

  &__results-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__results-number {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
  }

  &__results-title {
    text-align: center;
    text-transform: uppercase;
  }
}
