@import "cudl-compile";
@include cudl-prevent-compile(cudl-sass-colors);
@import "cudl-colors";
@include cudl-reset-compile(cudl-sass-colors);
@import "cudl-typography";

.c-card {
  position: relative;
  width: 320px;

  &__top {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5) 90%
    );
    border-radius: 8px;
    display: flex;
    height: 180px;
  }

  &__img-pic {
    border-radius: 8px;
    position: absolute;
    z-index: -1;
  }

  &__body {
    display: flex;
  }

  &__info {
    flex: 1;
    min-width: 0;
  }

  &__footer {
    border-top: 1px solid cudl-palette(grey, light-2);
    display: flex;
  }

  &__players {
    flex-grow: 1;
  }

  &__players-number {
    padding-left: 4px;
    position: relative;
    top: 2px;
  }

  &__provider-img {
    width: 60px;
  }
}
