/* stylelint-disable */
#KambiBC.c-kambi-client--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Hide header for all pages except bethistory
// stylelint-disable
#KambiBC-header-wrapper {
  display: none;

  .KambiBC-util-route-bethistory & {
    display: block;
  }
}
/* stylelint-enable */
