/*
  NOTE:
  this uses css vars set on the document root of the ko stack
  in order to calculate the offset of the play okay bar
  also some of the selectors are nasty but these are out of our control
  !important is required as the kambi client pulls in dynamic classes with higher specificty
*/

/* stylelint-disable selector-max-id, selector-no-id, xi/selector-pattern, declaration-no-important */
#KambiBC {
  // Kambi tries to set its own container height with js and on some breakpoints gets this all wrong and
  // forces there to be an inner scroll bar to the kambi client.  This overrides that to make sure it always
  // as big as its contents
  height: auto !important;
}

#KambiBC-container {
  @include cudl-breakpoint(tablet) {
    padding: 0 map-get($cudl-spacer-sizes, 3xlg) !important;
  }

  @include cudl-breakpoint(desktop) {
    padding: 0 !important;
  }
}

.c-kambi-client--hidden {
  height: 0;
  overflow: hidden;
}

// Hide header for all pages except bethistory
#KambiBC-header-wrapper {
  display: none;

  .KambiBC-util-route-bethistory & {
    display: block;
  }
}

// Hide Kambi's sports filter when on all live events view
.KambiBC-filter-events__container {
  display: none !important;
}

#mod-KambiBC-betslip-container .mod-KambiBC-betslip {
  max-height: calc(100% - var(--play-okay-bar-height, 0)) !important;
}

.mod-KambiBC-betslip__header-pin-btn {
  display: none !important;
}

.c-sports-shell--site .KambiBC-event-groups-list {
  padding: 0 !important;
}

/* stylelint-enable selector-max-id, selector-no-id, xi/selector-pattern, declaration-no-important */
