/*
  NOTE:
  this uses css vars set on the document root of the ko stack
  in order to calculate the offset of the play okay bar
  also some of the selectors are nasty but these are out of our control
*/

/* stylelint-disable selector-max-id, selector-no-id, xi/selector-pattern, declaration-no-important */
#KambiBC-container {
  @include cudl-breakpoint(tablet) {
    padding: 0 map-get($cudl-spacer-sizes, 3xlg) !important;
  }
}

#KambiBC.c-kambi-client--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Hide header for all pages except bethistory
#KambiBC-header-wrapper {
  display: none;

  .KambiBC-util-route-bethistory & {
    display: block;
  }
}

#mod-KambiBC-betslip-container .mod-KambiBC-betslip {
  max-height: calc(100% - var(--play-okay-bar-height, 0)) !important;
}
/* stylelint-enable selector-max-id, selector-no-id, xi/selector-pattern, declaration-no-important */
