.c-deposit-limits-form-pill__container {
  color: cudl-palette(plum, dark-1);
  margin: 0 3px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.c-deposit-limits-form-pill--active {
  background-color: cudl-palette(plum, dark-1);
  color: cudl-palette(white);
}
