.c-game-list-page-filters__main-button-bg {
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    cudl-palette(white, "base") 30%
  );
}

// stylelint-disable xi/selector-pattern
.c-dropdown-filter {
  .t-border-r--pill {
    &:hover {
      background: rgba(cudl-palette(grey, "5"), 0.5) !important;
    }
  }
}

.c-toggle-filter {
  button {
    &:hover {
      background: rgba(cudl-palette(grey, "5"), 0.5) !important;
    }
  }
}
// stylelint-enable xi/selector-pattern
