.c-reel-race-leaderboard-list-entry {
  box-sizing: border-box;
}

// stylelint-disable xi/selector-pattern
.c-reel-race-leaderboard-list-entry:hover .c-reel-race__remaining-spins {
  opacity: 1;
}

.c-reel-race__remaining-spins {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: 0.3s;
  width: 74px;

  &--warning {
    fill: #fc484c !important;
  }

  &--regular {
    fill: #798291 !important;
  }
}

.c-reel-race__nickname {
  max-width: 100px;
  overflow-wrap: break-word;
}
