.c-rr-booster--big-wins {
  &__arc {
    transition: color 0.5s;
  }

  &__points {
    transition: color 0.5s;

    &--doubled {
      transition-delay: 0.5s;
    }
  }

  &__circle {
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.5s;

    &--doubled {
      transform: scale(1);
      transition-delay: 1s;
    }
  }
}
