.c-rr-booster--big-wins {
  --circle-trans-delay: 1s;

  &__arc {
    transition: color 0.5s;
  }

  &__points {
    transition: color 0.5s;

    &--doubled {
      transition-delay: 0.5s;
    }
  }
}
