// stylelint-disable xi/selector-pattern
.c-sports-top-bar {
  display: none;
}

.c-sports-shell--site .c-sports-top-bar {
  display: block;
}

.c-sports-top-bar--bet-history {
  margin-top: -4px;
}

.c-sports-top-bar--search .Icons-c-icon {
  height: 32px;
}
