.c-sports-top-bar-skeleton {
  display: none;
  height: 126px;
  overflow: "hidden";
  position: "relative";
}

// stylelint-disable-next-line xi/selector-pattern
.c-sports-shell--site .c-sports-top-bar-skeleton {
  display: flex;
}
