.c-sports-top-bar {
  display: none;
}

// stylelint-disable xi/selector-pattern
.c-sports-shell--site .c-sports-top-bar {
  display: flex;
}

.c-sports-top-bar .Icons-c-icon {
  height: 32px;
  width: 28px;
}
// stylelint-enable xi/selector-pattern

.c-sports-top-bar--bet-history {
  margin-top: -4px;
}
