.c-playokay-bar {
  height: var(--play-okay-bar-height, 48px);

  @include cudl-breakpoint(desktop) {
    height: auto;
  }

  &__icon {
    color: #fff;
    display: block;
    height: 16px;

    &--spelpaus {
      width: 56px;
    }
    &--spelgranser {
      width: 66px;
    }
    &--sjalvtest {
      width: 55px;
    }
  }

  &__clock {
    width: 6.5em;
  }

  &__panic-button {
    font-size: 0.6em !important;

    // stylelint-disable xi/selector-pattern
    > span {
      z-index: 0;
    }

    &::before {
      border-radius: 100em;
      content: "";
      height: 100%;
      left: calc(32px - 100%);
      position: absolute;
      transition-duration: 0;
      transition-property: left;
      transition-timing-function: linear;
      width: 100%;
    }

    &:active::before {
      background-color: cudl-palette(red, "30");
      left: 0;
      transition-duration: var(--panic-btn-duration);
    }
    // stylelint-enable xi/selector-pattern
  }
}
