.c-playokay-bar {
  height: var(--play-okay-bar-height, 48px);

  @include cudl-breakpoint(desktop) {
    height: auto;
  }

  &__icon {
    color: #fff;
    display: block;
    height: 16px;

    &--spelpaus {
      width: 56px;
    }
    &--spelgranser {
      width: 66px;
    }
    &--sjalvtest {
      width: 55px;
    }
  }

  &__clock {
    width: 6.5em;
  }

  &__panic-button {
    /* iOS Safari can't handle 100% radial gradient AND it needs to have them defined
     * in non-active state for the transition to even render. Sigh. Why can't you
     * just do what Microsoft did and embrace another already working browser 😉 */
    background-image: radial-gradient(
        circle closest-side,
        transparent 99.99%,
        transparent 99.99%
      ),
      linear-gradient(90deg, transparent 50%, transparent 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    font-size: 0.6em !important;
    transition-duration: 0s;
    transition-property: background-position;
    transition-timing-function: linear;
    user-select: none;

    &:active {
      background-image: radial-gradient(
          circle closest-side,
          cudl-palette(red, "30") 99.9%,
          transparent 99.9%
        ),
        linear-gradient(90deg, cudl-palette(red, "30") 50%, transparent 50%);
      background-position: 0 0;
      transition-duration: var(--panic-btn-duration, 3s);
    }
  }
}
