.c-playokay-bar {
  height: var(--play-okay-bar-height, 48px);

  @include cudl-breakpoint(desktop) {
    height: auto;
  }

  &__icon {
    color: #fff;
    display: block;
    height: 16px;

    &--spelpaus {
      width: 56px;
    }
    &--spelgranser {
      width: 66px;
    }
    &--sjalvtest {
      width: 55px;
    }
  }

  &__clock {
    width: 6.5em;
  }

  &__panic-button {
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    font-size: 0.6em !important;
    transition-duration: 0s;
    transition-property: background-position;
    transition-timing-function: linear;
    user-select: none;

    &:active {
      background-image: radial-gradient(
          circle closest-side,
          cudl-palette(red, "30") 100%,
          transparent 0
        ),
        linear-gradient(90deg, cudl-palette(red, "30") 50%, transparent 0);
      background-position: 0 0;
      transition-duration: var(--panic-btn-duration, 3s);
    }
  }
}
