.c-profile-icon-with-drawer {
  top: var(--play-okay-bar-height, 48px);

  &__content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &--old {
      animation: floatContentOld 0.9s normal forwards ease-out;
    }
    &--next {
      animation: floatContentNext 0.9s normal forwards ease-out;
    }
  }
}

// stylelint-disable xi/selector-pattern
@keyframes floatContentOld {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -40px;
  }
}

@keyframes floatContentNext {
  0% {
    margin-top: 40px;
  }
  100% {
    margin-top: 0;
  }
}
// stylelint-enable xi/selector-pattern
