.c-profile-icon-with-drawer {
  background-clip: padding-box;
  box-sizing: content-box;
  left: map-get($cudl-spacer-sizes, default);
  top: map-get($cudl-spacer-sizes, default);

  @include cudl-breakpoint(desktop) {
    left: auto;
    top: auto;
  }

  &__close-drawer {
    background-color: cudl-palette(grey, "70");
    left: map-get($cudl-spacer-sizes, default);
    top: map-get($cudl-spacer-sizes, default);

    @include cudl-breakpoint(desktop) {
      background-color: cudl-palette(grey, "90");
      left: auto;
      top: auto;
    }
  }

  &__content {
    left: 0;
    top: 0;

    &--old {
      animation: floatContentOld 0.9s normal forwards ease-out;
    }
    &--next {
      animation: floatContentNext 0.9s normal forwards ease-out;
    }
  }

  &__chevron-icon {
    bottom: 0;
    right: 0;
  }

  &__bottom-wrapper {
    left: 0;
    margin-left: 50%;
    max-width: 442px;
    transform: translateX(-50%);

    @include cudl-breakpoint(desktop) {
      transform: none;
      width: 280px !important;
    }

    &-bg {
      background: linear-gradient(white, transparent);

      @include cudl-breakpoint(desktop) {
        background: radial-gradient(
          farthest-corner at top left,
          rgba(255, 255, 255, 0.9),
          transparent 70%
        );
        left: -16px;
        padding-bottom: 150px;
        padding-left: 32px;
        padding-right: 150px;
        padding-top: 83px;
        top: -16px;
      }
    }

    &-item {
      box-sizing: border-box;
    }
  }
}

// stylelint-disable xi/selector-pattern
@keyframes floatContentOld {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -48px;
  }
}

@keyframes floatContentNext {
  0% {
    margin-top: 48px;
  }
  100% {
    margin-top: 0;
  }
}
// stylelint-enable xi/selector-pattern
