.c-profile-icon-with-drawer {
  background-clip: padding-box;

  box-sizing: content-box;

  &__content {
    left: 0;
    top: 0;

    &--old {
      animation: floatContentOld 0.9s normal forwards ease-out;
    }
    &--next {
      animation: floatContentNext 0.9s normal forwards ease-out;
    }
  }

  &__chevron-icon {
    bottom: 0;
    right: 0;
  }

  &__bottom-wrapper {
    left: 0;
    margin-left: 50%;
    margin-top: 12px;
    max-width: 442px;
    transform: translateX(-50%);

    @include cudl-breakpoint(desktop) {
      transform: none;
      width: 312px !important;
    }

    &-bg {
      background: linear-gradient(white, transparent);
      margin-top: 12px;

      @include cudl-breakpoint(desktop) {
        background: radial-gradient(
          farthest-corner at top left,
          rgba(255, 255, 255, 0.5),
          transparent 70%
        );
      }
    }

    &-item {
      box-sizing: border-box;
    }
  }
}

// stylelint-disable xi/selector-pattern
@keyframes floatContentOld {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -48px;
  }
}

@keyframes floatContentNext {
  0% {
    margin-top: 48px;
  }
  100% {
    margin-top: 0;
  }
}
// stylelint-enable xi/selector-pattern
