// stylelint-disable xi/selector-pattern
.c-sidebar-nav {
  font-family: "Circular Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  max-width: 260px;
}

.u-icon-casumo {
  path {
    fill: cudl-palette(turquoise, "base");
  }
}
