.c-sidebar {
  position: absolute;
  transform: translate3d(-30%, 0, 0);
  transition: all 0.3s ease;
  width: 100%;
  z-index: 0;
}

.c-sidebar--fixed {
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: none;
  width: 260px;
}

.c-layout-content {
  transition: all 0.3s ease;
}

.c-sidebar__logo {
  height: 100px;
}

/* stylelint-disable xi/selector-pattern */
.c-layout--menu-open {
  .c-sidebar {
    transform: translate3d(0, 0, 0);
  }

  .c-layout-content {
    transform: translate3d(100%, 0, 0);
  }
}
/* stylelint-enable xi/selector-pattern */
