$dark-purple: #270c5a;

// stylelint-disable xi/selector-pattern
.c-blueribbon-animation-container {
  overflow: hidden;
  position: absolute;
}

.c-background-scale-in-center {
  animation: background-scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  background-color: $dark-purple;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes background-scale-in-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
