/* stylelint-disable */

#Frame1 {
  height: 88px;
  left: 127px;
  position: absolute;
  top: 54px;
  width: 92px;
}
#Frame3 {
  height: 50px;
  left: 206px;
  position: absolute;
  top: 128px;
  width: 52px;
}
#Frame2 {
  height: 50px;
  left: 229px;
  position: absolute;
  top: 73px;
  width: 52px;
}

#Frame4 {
  height: 50px;
  left: 147px;
  position: absolute;
  top: 145px;
  width: 52px;
}

#Frame5 {
  height: 50px;
  left: 88px;
  position: absolute;
  top: 128px;
  width: 52px;
}

#Frame6 {
  height: 50px;
  left: 65px;
  position: absolute;
  top: 73px;
  width: 52px;
}

#Frame7 {
  height: 50px;
  left: 88px;
  position: absolute;
  top: 18px;
  width: 52px;
}

#Frame8 {
  height: 50px;
  left: 147px;
  position: absolute;
  top: 0px;
  width: 52px;
}

#Frame9 {
  height: 50px;
  left: 206px;
  position: absolute;
  top: 18px;
  width: 52px;
}
#Frame10 {
  height: 23px;
  left: 269px;
  position: absolute;
  top: 46px;
  width: 25px;
}

#Frame11 {
  height: 23px;
  left: 289px;
  position: absolute;
  top: 73px;
  width: 25px;
}
#Frame12 {
  height: 23px;
  left: 289px;
  position: absolute;
  top: 101px;
  width: 25px;
}
#Frame13 {
  height: 23px;
  left: 269px;
  position: absolute;
  top: 128px;
  width: 25px;
}
#Frame14 {
  height: 23px;
  left: 52px;
  position: absolute;
  top: 128px;
  width: 25px;
}
#Frame15 {
  height: 23px;
  left: 32px;
  position: absolute;
  top: 101px;
  width: 25px;
}
#Frame16 {
  height: 23px;
  left: 32px;
  position: absolute;
  top: 73px;
  width: 25px;
}
#Frame17 {
  height: 23px;
  left: 52px;
  position: absolute;
  top: 46px;
  width: 25px;
}
#Frame18 {
  height: 23px;
  left: 269px;
  position: absolute;
  top: 17px;
  width: 25px;
}
#Frame19 {
  height: 23px;
  left: 303px;
  position: absolute;
  top: 46px;
  width: 25px;
}
#Frame20 {
  height: 23px;
  left: 321px;
  position: absolute;
  top: 73px;
  width: 25px;
}
#Frame21 {
  height: 23px;
  left: 321px;
  position: absolute;
  top: 101px;
  width: 25px;
}
#Frame22 {
  height: 23px;
  left: 303px;
  position: absolute;
  top: 128px;
  width: 25px;
}
#Frame23 {
  height: 23px;
  left: 269px;
  position: absolute;
  top: 157px;
  width: 25px;
}
#Frame24 {
  height: 23px;
  left: 52px;
  position: absolute;
  top: 157px;
  width: 25px;
}

#Frame25 {
  height: 23px;
  left: 18px;
  position: absolute;
  top: 128px;
  width: 25px;
}

#Frame26 {
  height: 23px;
  left: 0px;
  position: absolute;
  top: 101px;
  width: 25px;
}

#Frame27 {
  height: 23px;
  left: 0px;
  position: absolute;
  top: 73px;
  width: 25px;
}
#Frame29 {
  height: 23px;
  left: 52px;
  position: absolute;
  top: 17px;
  width: 25px;
}
#Frame28 {
  height: 23px;
  left: 18px;
  position: absolute;
  top: 46px;
  width: 25px;
}

#coinsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
    zoom: 2;
}

#overlay {
  background-color: #270c5a;
  height: 100%;
  left: 0px;
  opacity: 80%;
  position: absolute;
  top: 0px;
  width: 100%;
  border-radius: 50%;
}

/**
 * ----------------------------------------
 * background-scale-in-center
 * ----------------------------------------
 */
 .background-scale-in-center {
	animation: background-scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
}
 @keyframes background-scale-in-center {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(2);
      opacity: 0.8;
    }
  }

/**
 * ----------------------------------------
 * major-scale-in-center
 * ----------------------------------------
 */
 .major-scale-in-center {
	animation: major-scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
}
 @keyframes major-scale-in-center {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

/**
 * ----------------------------------------
 * mega-scale-in-center
 * ----------------------------------------
 */
 .mega-scale-in-center {
	animation: major-scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * mini-scale-in-center
 * ----------------------------------------
 */
 .mini-scale-in-center {
	animation: major-scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

/**
 * ----------------------------------------
 * timer-anim
 * ----------------------------------------
 */
 .timer-anim {
	animation: timer-anim 0s linear 2s both;
}
@keyframes timer-anim {
    0% {
    }
    100% {
    }
  }

.animateDarken {
    animation: animateDarken 0.4s linear both;
}
@keyframes animateDarken {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.6;
    }
  }

.darken {
    opacity: 0.6 !important;
}

.lighten {
    opacity: 1 !important;
}
