$color-dark-orange: #965c30;

.c-valuable-card-thumbnail__state {
  vertical-align: bottom;
}
.c-valuable-card-thumbnail-coin--large {
  width: 34%;
}
.c-valuable-card-thumbnail-coin--small {
  width: 52%;
}
.c-valuable-card-thumbnail-coin {
  width: 100%;
}

// stylelint-disable xi/selector-pattern
.c-valuable-symbol--fill > svg {
  fill: $color-dark-orange;
  stroke: $color-dark-orange;
  stroke-width: 3%;
}
