.c-valuable-card-thumbnail__state {
  vertical-align: bottom;
}
.c-valuable-card-thumbnail-coin--lg {
  width: 34%;
}
.c-valuable-card-thumbnail-coin--sm {
  width: 52%;
}
.c-valuable-card-thumbnail-coin {
  width: 100%;
}
