.c-cvv-piq-iframe {
  height: 40px;
  max-width: 100%;
}

.c-fullspace-iframe {
  border: 0;
  height: 100%;
  left: 0;
  width: 100%;
}

.c-piq-modal-content {
  min-height: 500px;
  position: relative;
}
