$grid-2-cols-min-width: 800px;
$grid-3-cols-min-width: 1200px;

.c-articles-list {
  display: grid;
  grid-gap: 8px;
}

@media (min-width: $grid-2-cols-min-width) {
  .c-articles-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $grid-3-cols-min-width) {
  .c-articles-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
