$directions: (top, left, bottom, right);

@each $direction in $directions {
  /* stylelint-disable-next-line xi/selector-pattern */
  .u-safe-area-inset-#{$direction} {
    #{$direction}: env(safe-area-inset-#{$direction});
  }
}

.c-game-page__flexible-game-container {
  // This tells it's children to have only space it gives them, not more
  // but also growing up to whole remaining flex space. Prevents games to grow outside
  // its bounds, and ensures the right height/width pattern to be later used to force resize
  // game-canvas containers which is needed for some of the providers
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.c-game-page__game-launcher {
  border: 0;
  height: 100%;
  margin: 0;
  width: 100%;
}

.c-game-page__swipe-panel {
  background-color: rgba(0, 0, 0, 0.7);
  height: calc(100vh + 100px);
  position: absolute;
  width: 100vw;
  z-index: 10;
}

.c-game-page__swipe-hand-symbol {
  animation: swipe-up cubic-bezier(0.75, 0, 0.25, 1) 3s infinite;
  height: 64px;
  width: 64px;
}

@media (orientation: landscape) {
  .c-game-page__swipeup-details {
    flex-direction: row;
  }

  .c-game-page__swipeup-icon-container {
    margin-right: 50px;
  }

  .c-game-page__swipeup-text-container {
    margin-top: 80px !important;
  }
}

@media (orientation: portrait) {
  .c-game-page__swipeup-text-container {
    margin-top: 80px !important;
  }
}

// stylelint-disable xi/selector-pattern
@keyframes swipe-up {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translateY(60px);
  }
  70% {
    opacity: 1;
    transform: translateY(-60px);
  }
  90% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 0;
  }
}
