.c-game-page__game-wrapper {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}
.c-game-page__game-launcher {
  border: 0;
  height: 1px;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
