$directions: (top, left, bottom, right);

.c-game-page__game-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@each $direction in $directions {
  /* stylelint-disable-next-line xi/selector-pattern */
  .u-safe-area-inset-#{$direction} {
    #{$direction}: env(safe-area-inset-#{$direction});
  }
}

.c-game-page__game-content-borders {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.c-game-page__game-launcher {
  border: 0;
  height: 100%;
  margin: 0;
  width: 100%;
}
