$directions: (top, left, bottom, right);

@each $direction in $directions {
  /* stylelint-disable-next-line xi/selector-pattern */
  .u-safe-area-inset-#{$direction} {
    #{$direction}: env(safe-area-inset-#{$direction});
  }
}

.c-game-page {
  --game-page-sidebar-width-desktop: 290px;
  background-position: center;
  background-size: cover;

  &__flexible-game-container {
    // This tells it's children to have only space it gives them, not more
    // but also growing up to whole remaining flex space. Prevents games to grow outside
    // its bounds, and ensures the right height/width pattern to be later used to force resize
    // game-canvas containers which is needed for some of the providers
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    overflow: hidden;
  }

  &__game-launcher {
    border: 0;
    height: 100%;
    margin: 0;
    width: 100%;
  }
}
