$width: 56px;
$height: 32px;

.c-toggle {
  height: $height;
  width: $width;
}

.c-toggle-circle--active {
  transform: translate3d(40px, 0, 0);
  transition: transform 0.1s;
}

.c-toggle-circle--inactive {
  transform: translate3d(16px, 0, 0);
  transition: transform 0.1s;
}
