$min-width: 70px;
$max-width: 120px;
$max-label-width: 80px;
$height: 32px;
$border-offset: 2px;
$radius: 12px;

// stylelint-disable xi/selector-pattern

.c-toggle {
  font-weight: bold;
  height: $height;
  max-width: $max-width;
  min-width: $min-width;
  padding: 6px 7px;
  position: relative;
  transition: background-color 0.25s;
}

.c-toggle__label {
  font-size: cudl-font-size(xs, $cudl-font-sizes);
  max-width: $max-label-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-toggle__circle--active {
  position: absolute;
  right: 1px;
  top: 0px;
  transition: left 2s ease 0s;

  + .c-toggle__label {
    padding-right: 2 * $radius;
  }
}

.c-toggle__circle--inactive {
  left: 1px;
  position: absolute;
  top: 0px;
  transition: right 2s ease 0s;

  + .c-toggle__label {
    padding-left: 2 * $radius;
  }
}
