.c-sports-nav-paginated {
  display: grid;
  height: 100%;
  width: 100%;
}

.c-sports-nav-paginated__list {
  grid-area: 1 / 1 / 2 / 2;
}

.c-sports-nav-paginated__controls {
  grid-area: 1 / 1 / 2 / 2;
  z-index: cudl-z();
}

.c-sports-nav-paginated__controls {
  display: none;
}

// stylelint-disable-next-line xi/selector-pattern
.c-sports-shell--site .c-sports-nav-paginated__controls {
  display: flex;
}

.c-sports-nav-paginated__button {
  background-image: linear-gradient(
    to left,
    rgba(cudl-palette(grey, light-2), 1) 2%,
    rgba(cudl-palette(grey, light-2), 0)
  );
}

// stylelint-disable-next-line xi/selector-pattern
.c-sports-nav-paginated .c-sports-nav-paginated__button {
  opacity: 0;
  transition: opacity 0.25s ease-in;
}

// stylelint-disable-next-line xi/selector-pattern
.c-sports-nav-paginated:hover .c-sports-nav-paginated__button {
  opacity: 1;
}
