.c-reel-race-opt-in-widget {
  box-sizing: border-box;

  // stylelint-disable xi/selector-pattern
  svg {
    display: inline-block;
    width: 13px;
  }
  // stylelint-enable xi/selector-pattern
}

.u-border-opacity--03 {
  --tw-border-opacity: 0.3;
}

.u-margin-left-negative--22 {
  margin-left: -22px;
}
