@import "cudl-position";
@import "cudl-inset";

.c-quick-deposit-slip__cvv {
  width: 150px;
}

.c-deposit-slip-container {
  z-index: 1;
}

.c-quick-deposit-slip-posisioning {
  max-width: 500px;

  @media (min-width: 1280px) {
    top: 70px;
    width: 500px;
  }
}
