@import "cudl-breakpoints";

@supports (-webkit-line-clamp: 2) {
  //stylelint-disable-next-line xi/selector-pattern
  .Heading-c-heading-md {
    //stylelint-disable-next-line property-no-vendor-prefix
    -webkit-box-orient: vertical;
    //stylelint-disable-next-line value-no-vendor-prefix
    display: -webkit-box;
    //stylelint-disable-next-line property-no-vendor-prefix
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

$cards-body-heights: (
  mobile: 105px,
  desktop: 110px,
);
//stylelint-disable-next-line xi/selector-pattern
.Card-c-card .o-flex.u-padding-top--small.u-padding-bottom--normal {
  @include cudl-breakpoint-with($cards-body-heights, height);
}
