.c-promotion-gallery-card {
  max-width: 256px;
  text-decoration: none;
  width: 100%;
}

.c-promotion-gallery-card__img {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.c-promotion-gallery-card__content {
  line-height: 1.2;
}
