.c-abstract-modal__content {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.c-abstract-modal__close {
  right: 0;
  top: 0;
}

//default modal dimensions when no custom class or ResponsiveLayout component is provided
.c-abstract-modal--default {
  @include cudl-breakpoint(mobile) {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
  @include cudl-breakpoint(phablet) {
    border-radius: 3px;
    max-height: 85vh;
    max-width: 85vw;
    top: 10vh;
  }
}

.c-abstract-modal__overlay {
  align-items: center;
  background-color: rgba(cudl-palette(grey, dark-2), 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding-left: var(--shell-offset-left, 0);
  position: fixed;
  right: 0;
  top: var(--top-bar-offset-top, 0);
  z-index: var(--z-index-modals);
}
