// stylelint-disable xi/selector-pattern

.c-jackpot-logo {
  left: -300px;
  position: absolute;
  top: calc(50% - 50px);
  zoom: 1.5;
}

.c-jackpot-logo-slide-in {
  animation: jackpot-logo-slide-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes jackpot-logo-slide-in {
  100% {
    left: 150px;
  }
}
