.c-deposit-limits-history__container {
  max-width: 608px;
}

.c-deposit-limits-history__change-icon {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: -2px;
}

.c-deposit-limits-history__left-bar {
  border-radius: 2px;
  width: 4px;

  &--small {
    height: 4px;
  }
}
