// stylelint-disable xi/selector-pattern, selector-max-id
#react-host-dgoj-terms,
#react-host-dgoj-terms > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
// stylelint-enable xi/selector-pattern, selector-max-id

.c-tac-changelog-approved {
  border: 2px solid currentColor;
  border-radius: 50%;
}

.c-tac__header {
  border-bottom: 4px solid currentColor;
}

.c-tac-list--number {
  margin-right: 8px;
  text-align: center;
  width: 3ch;
}

.c-tac-section-header {
  position: sticky;
  top: 0;
}

.c-tac__container {
  height: 100%; // u-height--1/1 adds flex: none and it's breaking everything
  overflow-x: hidden;
  width: 100%;
}
