// stylelint-disable xi/selector-pattern, selector-max-id
#react-host-dgoj-terms,
#react-host-dgoj-terms > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
// stylelint-enable xi/selector-pattern, selector-max-id

.c-tac-changelog-approved {
  border: 2px solid currentColor;
  border-radius: 50%;
}

.c-tac-list--number {
  width: 3ch;
}
